header.header 
    .section_in 
        .header_main 
                .nav__logo
                    img(src="i/icons/logo.svg", alt="")
                    p инновационный проект в сфере <br> современного христианства
