header.header 
    .section_in 
        .header_main 
            section.nav.wrapp 
                .nav__logo
                    a(href="#") 
                        +icon('my-Space')

                .nav__list 
                    ul.nav__item
                        li 
                            a(href="#") О нас
                    .nav__item 
                        li
                            a(href="#") Преимущества
                    .nav__item 
                        li
                            a(href="#") Готовые решения
                    .nav__item
                        li
                            a(href="#") Все работы
                
                .nav__tel 
                    a(href="tel:+70000000000") +7 000 000 00 00
                
                .nav__button.popup-open
                    a(href="#").nav__call Заказать звонок 

        
.menuMobileFix  
    .menuMobile
        .nav__logo.nav__logo-mobile
            a(href="#") 
                +icon('my-Space')
        .nav__tel.nav__tel-mobile
            a(href="tel:+70000000000") +7 000 000 00 00

        .menuMobile__wrapp
            a(href="#").menuMobile__trigger
                +icon('burger-icon')
            .menuMobile__popup 
                a(href="#").menuMoble__close
            ul.menuMobile__list 
                li 
                    a(href="#") О нас
                li
                    a(href="#") Преимущества
                li
                    a(href="#") Готовые решения
                li
                    a(href="#") Все работы
            


                    


            
        
