.header {
    width: 100%;
    position: relative;
    z-index: 9;
}
.header_main {
    top: 15px;
    width: 100%;
    position: absolute;
}
.nav__logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.nav__logo p{
    padding-top: 10px;
    font-family: $font_3;
    font-size: 16px;
    text-align: left;
    color: #fff;

}
.main{
    background-image: url(../i/background1.png);
    &__block{
        display: flex;
        align-items:center;
        justify-content: center;
        padding-top: 24rem;
        @include wrap;
        @include text1;
    }
    &__text{
        width: 60%;
        // padding-left: 10rem;
        // padding-right: 10rem;
        text-align: center;
    } 
}
