.header {
    width: 100%;
    position: relative;
    z-index: 9;
}
.header_main {
    top: 15px;
    width: 100%;
    position: absolute;
}
.nav__logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.nav__logo p{
    padding-top: 10px;
    font-family: $font_3;
    font-size: 16px;
    text-align: left;
    color: #fff;

}
.main{
    background-image: url(../i/background1.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    // height: 100vh;
    &__block{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 24rem;
        @include wrap;
        @include text1;
    }
    &__text{
        width: 52%;
        text-align: center;
    } 
    &__desc{
        margin-top: 10rem;
        width: 62.3rem;
        text-align: center;
        width: 50%;
        font-size: 1.8rem;
        font-family: $font_2;
        text-transform: none;
    
        &-down{
            margin-top: 3.4rem;
            font-size: 18px;
            color: #fffefe;
            font-family: $font_2;
            margin-bottom: 36rem;
        }
    }
}
.button {
    margin-top: 8rem;
    @include btn;
    &__link{
        @include btn-a;
    }
}

.tilte-block{
    @include text1;
}
.advantages{
    margin-top: 11rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    &__back-text{
        top:-26%;
        right: 38%;
        position: absolute;
        font-size: 10rem;
        color: rgba(255, 254, 254, 0.1);
    }
    &__text{
        width: 90rem;
        font-size: 1.8rem;
        font-family: $font_2;
        text-transform: none;
        padding-bottom: 7rem;
    }
}

.offer{
    height: 130rem;
    background-image:url(../i/background2.png);
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    // background-position:center;
    &__block{
        margin-bottom: 5rem;
        width: 103rem;
        @include text1; 
    }
}
.about-me{
    position: relative;
    background-color:#a5a9b5;
    &__titleText{
        position: absolute;
        top: 5.5rem;
        left: 27%;
        font-size: 7.2rem;
        font-size: 10rem;
        color: #868B9A;
        text-transform: uppercase;
    }
    &__content{
        padding-top: 15rem;
        @include wrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    &__title{
        @include text1;
        color:#031331;
    }
    &__text{
        width: 105rem;
        margin-top: 4.5rem;
        text-align: center;
        font-size: 2.4rem;
        font-family: $font_2;
    }
    &__button{
        margin-bottom: 12rem;
    }
}