extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	//- section.home 
	//- 	.section_in
	//- 		a(href="#") 
	//- 			+icon('my-Space')

	section.main
		.main__block
			.main__text проведение домашней группы в Москве-Сити
			.main__btn
				.button 
					a.button__link(href="#") Зарегистрироваться
			.main__desc О важности домашней группы говорил Иисус Христос: «... потому что где хотя бы двое или трое соберутся ради Меня, там и Я буду среди них»
			.main__desc-down от Матфея 18:20 СРП-2

			.advantages 
				.advantages__back-text ПРЕИМУЩЕСТВО
				.advantages__titlte.tilte-block эффективность служения
				.advatages__img 
					div
						img(src="i/icons/heart-icon.svg", alt="")
				.advantages__text Преимуществом домашней группы над традиционным воскресными Богослужением (в котором верующие собираются большим количеством) является эффективность служения, так как здесь лидер может качественно послужить каждому верующему лично

	section.offer 
		.offer__block Домашняя группа позволит вам <br> развиваться в Духовной и в других важных сферах. 
		.offer__block Также это укрепление в вере, единение с верующими и подотчетность у лидера


	section.about-me 
		.about-me__content
			.about-me__titleText О себе
			.about-me__title Меня зовут Ринат Исмагилов
			.about-me__image 
				img(src="i/icons/man.svg", alt="")
			.about-me__text Я уверовал в 2009 году. <br> Я был в нескольких Церквях, прошёл 2 инкаунтера и водное крещение. <br>Учился через множество проповедей и онлайн конференций, <br>прошёл онлайн школу G12. 
			.about-me__text За это время у меня накопился немалый опыт в христианстве.  <br> Знаю о проблемах современной Церкви. 
			.about-me__text Я хочу поделится с Вами всей мудростью, добротой и главное верой, которая с каждым годом только крепнет. 
			.about-me__text У меня есть идеи и проекты для решения проблем современного христианства.
			.about-me__button.button 
				a.button__link(href="#") Написать сообщение

	section.donation 
		.donation__wrapp
			.donation__title ПОЖЕРТВОВАНИЕ
			.donation__block
				div
					.donation__info.donation__info-bold Яндекс Деньги 
					.donation__info 4100 1415 4978 186
				div 
					.donation__info.donation__info-bold Банковская карта Сбербанк
					.donation__info 5228 6005 5261 1933
				div
					.donation__text При добровольном пожертвовании пишите в сообщении, что это - добровольное пожертвование

	.footer 
		.footer__row 
			.footer__col
				.footer__message.messageBlock 
					.messageBlock__wrapp
						div
							a(href="mailto:RinatIsmagilov1626@yandex.ru")
								img(src="i/icons/mail.png", alt="")
								.messageBlock__link RinatIsmagilov1626@yandex.ru
						.footer__text Посетитель сайта может отправить сообщение и документ (анкету для регистрации на домашнюю группу) на электронную почту
					.messageBlock__wrapp
						div
							a(href="mailto:RinatIsmagilov1626@yandex.ru")
								img(src="i/icons/vk.png", alt="")
								.messageBlock__link https://vk.com/g12moscowcity
						
						.about-me__button.button 
							a.button__link(href="#") Отправить анкету

		.footer__copyright © 2022. G12 Moscow City - инновационный проект в сфере современного христианства


			
				

				